body {
    font-family: Verdana, serif;
    font-size: 19px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weinght: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    max-width: 100%;
    margin: auto;
}

.login {
    text-align: right;
    beckground: #89AFF;
    color: #EEEEEE;
    width: 100%;
    font-size: 12px;
}
.header {
    background: #2439BB;
    font-size: 60px;
    color: #EEEEEE;
    text-align: right;
    height: 80px;
    vertical-align: middle;
}

.menu{
    text-align: center;
    padding: 15px;


}
.title{
    font-size: 16px;

}

.newElement{
    text-align: center;
}

.data_grip{


}
table.tblData {
    border: 4px solid #555555;
    background-color: #555555;
    width: 400px;
    text-align: center;
    border-collapse: collapse;
}
table.tblData td, table.tblData th {
    border: 1px solid #555555;
    padding: 5px 10px;
}
table.tblData tbody td {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
}
table.tblData td:nth-child(even) {
    background: #398AA4;
}
table.tblData thead {
    background: #398AA4;
    border-bottom: 10px solid #398AA4;
}
table.tblData thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
    border-left: 2px solid #398AA4;
}
table.tblData thead th:first-child {
    border-left: none;
}



.button{
    -webkint-border-radius:40px 10px 40px 10px;
    -moz-border-radius:40px 10px 40px 10px;
    border-radius: 40px 10px 40px 10px;
    color:#345ACC;
    height: 35px;
    width: 150px;
}

.btnNew{
    -webkint-border-radius:40px 10px 40px 10px;
    -moz-border-radius:40px 10px 40px 10px;
    border-radius: 40px 10px 40px 10px;
    color:#345ACC;
    background: #345ACC;
    height: 35px;
    width: 150px;


}
.modal{
    display:none;
    position:fixed;
    z-index: 1;
    left: 200px;
    top:0;
    width: auto;
    height: auto;
    overflow: auto;
}

.modal_content{
    background-color: #DDDDDD;
    margin: 30% auto;
    padding: 20%;
    boder:1px solid #AAAAAA;
    width: auto;

}
